<a href="https://colab.research.google.com/github/sujeongEOM/python-study/blob/main/python_study_210407.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
money = True
if money:
  print ("택시를 타고 가라")
else:
  print ("걸어 가라")

택시를 타고 가라

In [ ]:
money= True
if money:
  print ("택시를")
  print ("타고")
  print ("가라")

택시를
타고
가라

In [ ]:
money = 2000
if money >= 3000:
  print ("택시를 타고 가라")
else:
  print ('걸어 가라')

걸어 가라

In [ ]:
pocket = ['money', 'cellphone', 'mirror']
if 'money' not in pocket:
  pass
else:
  print ("카드를 꺼내라")

카드를 꺼내라

In [ ]:
treeHit=0
while treeHit<10:
  treeHit = treeHit +1
  print ('나무를 %d번 찍었습니다' % treeHit)
  if treeHit ==10:
    print ('나무 넘어갑니다')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [ ]:
prompt = '''
1. add
2. del
3. list
4. quit

Enter number: '''

In [ ]:
number = 0
while number !=4:
  print (prompt)
  number = int(input())

1. add
2. del
3. list
4. quit

Enter number:
2

1. add
2. del
3. list
4. quit

Enter number:
4

In [ ]:
coffee = 10
while True:
  money = int(input ('돈을 넣어 주세요: '))
  if money == 300:
    print ('커피를 줍니다.')
    coffee= coffee -1
  elif money > 300:
    print ('거스름돈 %d를 돌려주고 커피를 줍니다.' % (money - 300))
    coffee = coffee -1
  else:
    print ('돈을 돌려주고 커피를 주지 않는다')
    print ('남은 커피의 양은 %d개 입니다. ' % coffee)
  if coffee == 0:
    print ('커피가 다 떨어졌습니다. 판매를 중지합니다.')
    break

돈을 넣어 주세요: 500
거스름돈 200를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 100
돈을 돌려주고 커피를 주지 않는다
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 200
돈을 돌려주고 커피를 주지 않는다
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 300000
거스름돈 299700를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 394
거스름돈 94를 돌려주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 100
돈을 돌려주고 커피를 주지 않는다
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 399
거스름돈 99를 돌려주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
a= 0
while a<10:
  a= a+1
  if a % 2 == 0: continue
  print (a)

1
3
5
7
9

In [ ]:
sujeong = [ 'one', 'two', 'three']
for i in sujeong:
  print (i)

one
two
three

In [ ]:
print (3)

3

In [ ]:
print ('helloworld')

helloworld

In [ ]:
marks = [ 100, 80, 40, 50, 70]

number = 0
for mark in marks:
  number = number +1
  if mark >= 60:
    print ('%d번 학생은 합격입니다.' % number)
  else:
      print ('%d번 학생은 불합격입니다.' %number)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
marks = [100, 20, 50, 60, 70]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print('%d번 학생 축하합니다. 합격입니다.' % (number+1))

1번 학생 축하합니다. 합격입니다.
4번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
a=[1, 2, 3, 4]
result=[num*3 for num in a if num > 2]
print(result)

[9, 12]

In [ ]:
a='Life is too short, you need python'
if 'wife' in a: print('wift')
elif 'python' in a and 'you' not in a: print('python')
elif 'shirt' not in a: print('shirt')
elif 'need' in a: print('need')
else: print('none')

shirt

In [ ]:
i=0
a=0
while a<=1000:
  a=a+1
  if a%3==0:
    i=i+a

print(i)

166833

In [37]:
a=0
while a<5:
  a=a+1
  print('*'*a)

*
**
***
****
*****

In [41]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
add=0

for i in a: 
  add=add+i
print(add/10)

79.0

In [36]:
numbers=[1, 2, 3, 4, 5]
result=[n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

In [44]:
def sujeong(a,b):
  eomsujeong=a*b
  return print(eomsujeong)

In [46]:
c=sujeong(4, 5)

20

In [52]:
def add_many(*args):
  result=0
  for i in args:
    result+=i
  return result

result=add_many(1, 2, 3, 4, 5)

In [53]:
print(result)

15

In [57]:
def add_and_mul(a,b):
  return a+b, a*b

c=add_and_mul(4, 5)
c

(9, 20)

In [60]:
def say_nick(nick):
  if nick=='바보':
      return
  print('나의 별명은 %s입니다'% nick)

say_nick('sujeong')

나의 별명은 sujeong입니다

In [61]:
say_nick('바보')

In [65]:
def sujeong(a):
  a=a+1
  a=sujeong(4)
  print(a)